.ItemFormHeader {
    position: fixed;
    width: 100%;
    background-color: transparent;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    z-index: 3;
}

.ItemFormHeader__container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.ItemFormHeader__container .Close {
    border: 0px;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    height: 34px;
    width: 34px;
    position: absolute;
    top: 18px;
    right: 18px;
    background-color: transparent;
    border-radius: 50%;
}

.ItemFormHeader__container .Close:hover {
    background-color: rgba(255, 255, 255, 20%);
}

.isolate {
    isolation: isolate; 
    position: relative;
}

.gradient {
    mix-blend-mode: overlay;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.gradient.linear {
    background: #28357D;
    background: linear-gradient(187deg, rgba(250,92,80,1) 0%, rgba(189,90,121,1) 0%, rgba(65,86,204,1) 20%, rgba(55,73,173,1) 32%, rgba(44,59,139,1) 51%, rgba(40,53,125,1) 100%);
}

.gradient.radial {
    background: #28357D;
    background: 
        radial-gradient(ellipse farthest-corner at 100% 120%, rgba(250,92,80,1) 0%, rgba(189,90,121,1) 8%, rgba(44,59,139,1) 35%, rgba(65,86,204,1) 68%, rgba(40,53,125,1) 100%);
}

.ItemFormContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ItemForm {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    padding: 0px 42px;
    max-width: 600px;
    color: white;
    font-size: 16px;
    line-height: 68px;
}

.ItemForm .input-container {
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ItemForm .input-container.currency span {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-61px, 0);
}

.ItemForm input {
    border: 0px;
    border-bottom: 1px solid white;
    background-color: transparent;
    margin: 10px 0px;
    padding: 15px 10px;
    width: 100px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
}

.ItemForm input[id='item-name'] {
    font-family: 'Fira Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    width: 100%;
    margin-bottom: 50px;
}

.ItemForm .Button.ghost {
    color: white;
}

.ItemForm .Button.add-subtract {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    padding: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0px 12px;
}

.ItemForm .Button.add-subtract img {
    width: 24px;
    height: 24px;
}

.ItemForm .button-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 34px 0px;
}

.ItemForm .text-container {
    line-height: 50px;
    padding-top: 18px;
}