.BillOptions {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 20%);
    width: 200px;
    z-index: 6;
    padding-top: 36px;
    padding-bottom: 16px;
}

.BillOptions .close {
    border: 0px;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 18px;
    right: 18px;
    background-color: transparent;
}

.BillOptions .close img {
    filter: brightness(0.1)
}

.Option button {
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 12px 18px;
    display: flex;
    align-items: center;
}

.Option button:hover {
    background-color: #EBE5FC;
}

.Option span {
    margin-left: 18px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}