.Error {
    margin-top: 5px;
    color: #4E67F9;
    font-size: 12px;
}

.BillForm .Error,
.ItemForm .Error,
.SplitterForm .Error {
    position: absolute;
    color: #FFA07a;
    margin: 0;
    top: 72px;
    right: 0;
}

.BillForm .Error.billname {
    top: 80px;
    right: 0;
}

.BillForm .Error.submit {
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    right: unset;
    line-height: 16px;
}

.ItemForm .Error.submit {
    top: -30px;
    right: unset;
    line-height: 16px;
}

.ItemForm .Error.item-name {
    top: 90px;
    right: unset;
    line-height: 16px;
}

.ItemForm .Error.item-price {
    top: 80px;
    right: unset;
    line-height: 16px;
}

.SplitterForm .Error.splitter-name {
    top: unset;
    right: unset;
    line-height: 16px;
}