.BillEditorNav {
    position: fixed;
    width: 100%;
    background-color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    z-index: 3;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 20%);
}

.currently-viewing {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 18px;
    margin-right: 24px;
}

.currently-viewing h2 {
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    margin-right: 20px;
    padding: 0px;
    color: #757575;
}

.BillEditor {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    background-color: #F5F5F5;
}

.BillEditor__header {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.BillEditor__header .LockupHorizontal {
    justify-content: center;
    margin-top: 20px;
    padding: 10px 0;
}

.BillEditor__header .LockupHorizontal .Logo.small img {
    width: 40px;
    height: 40px;
}

.BillEditor__header .LockupHorizontal__wordmark {
    font-size: 40px;
}

.bill-name {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    padding: 15px 18px;
    width: 100%;
    max-width: 800px;
}

.bill-name:visited {
    color: black;
}

.bill-name:hover {
    color: #621FEE;
}

.bill-name h1 {
    font-size: 14px;
    font-weight: 500;
    margin: 0px 15px;
    padding: 0px;
    color: #28357D;
    text-transform: uppercase;
}

.bill-name .Emoji {
    width: 50px;
    height: 50px;
    font-size: 24px;
    background-color: #f4f4f4;
    margin: 0px;
}

.bill-name:hover .Emoji {
    background-color: #EBE5FC;
}

.BillEditor__overview {
    width: 100%;
    max-width: 800px;
}

.AddItemButton {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: rgb(235, 235, 235);
    margin-bottom: 5px;
    margin-left: 18px;
    margin-right: 18px;
    padding-left: 55px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 60px;
    color: #696969;
    text-decoration: none;
    position: relative;
}

.AddItemButton:visited {
    color: #696969;
}

.AddItemButton:hover {
    background-color: rgb(225, 225, 225);
}

.AddItemButton span:before {
    content: '';
    position: absolute;
    top: 50%; left: 0;
    transform: translate(30px, -50%);
    width: 15px;
    height: 15px;
    background-image: url('../../img/icon-plus.svg');
    filter: brightness(0.4);
}