.BillEditorHeader {
    position: fixed;
    width: 100%;
    background-color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    z-index: 3;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 20%);
}

.BillEditor {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.BillEditor__overview {
    width: 100%;
    max-width: 800px;
}

.overview__bill-name {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 28px 0px;
}

.overview__bill-name:visited {
    color: black;
}

.overview__bill-name:hover {
    color: #621FEE;
}

.overview__bill-name h1 {
    font-size: 24px;
    font-weight: 500;
    margin: 0px 15px;
    padding: 0px;
}

.overview__bill-name .Emoji {
    width: 60px;
    height: 60px;
    font-size: 24px;
    background-color: #f4f4f4;
    margin: 0px;
}

.overview__bill-name:hover .Emoji {
    background-color: #EBE5FC;
}

.currently-viewing {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 18px;
    margin-right: 24px;
}

.currently-viewing h2 {
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    margin-right: 20px;
    padding: 0px;
    color: #757575;
}

.AddItemButton {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #f4f4f4;
    margin-bottom: 5px;
    margin-left: 18px;
    margin-right: 18px;
    padding-left: 55px;
    font-size: 14px;
    font-weight: 400;
    line-height: 60px;
    color: #757575;
    text-decoration: none;
}

.AddItemButton:visited {
    color: #757575;
}

.AddItemButton:hover {
    background-color: #EBE5FC;
}