.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.ShareModal {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 37.5px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 20%);
    z-index: 6;
    padding: 30px;
    font-family: inherit;
}

.ShareModal .close {
    border: 0px;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 18px;
    right: 18px;
    background-color: transparent;
    border-radius: 50%;
}

.ShareModal .close:hover {
    background-color: #F5F5F5;
}

.ShareModal h1 {
    font-family: inherit;
    color: #28357D;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.ShareModal form {
    padding: 14px 0px;
    margin: 6px 0px 12px 0px;
}

.ShareModal textarea {
    border: 0;
    border-bottom: 1px solid #28357D;
    width: 100%;
    resize: none;
    font-size: 12px;
    font-family: inherit;
    white-space: nowrap;  overflow: auto;
    color: #28357D;
}

.ShareModal .Button {
    padding: 15px 28px;
}

.ShareModal .Button.ghost {
    float: right;
    padding-right: 0px;
    color: #28357D;
}

.ShareModal .Button.ghost:hover {
    color: #506AFA !important;
}

.ShareModal .copy-success {
    position: absolute;
    bottom: 48px;
    left: 145px;
    font-size: 14px;
    margin-left: 15px;
    color: #506AFA;
}