.LoginForm {
    width: 100%;
    margin: 10px 0px;
    background-color: white;
    border-radius: 4px;
    color: #4a4a4a;
    padding: 40px;
}

.LoginForm .label-container {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.LoginForm label {
    flex: 1;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
}

.LoginForm .Input {
    margin-bottom: 30px;
}

.LoginForm .Error {
    margin-top: 0px;
}

.LoginForm .button-container {
    position: relative;
}

.LoginForm .button-container .Error {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
}