.MenuLink {
    text-decoration: none;
    color: #28357D;
    display: flex;
    align-items: center;
    padding: 10px 18px;
}

.MenuLink:hover {
    background-color: #F5F5F5;
}

.MenuLink:visited {
    color: #28357D;
}