.BillFormHeader {
    position: fixed;
    width: 100%;
    background-color: transparent;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    z-index: 3;
}

.BillFormContainer {
    background-color: #4f4f4f;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BillForm {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    padding: 0px 42px;
    padding-bottom: 50px;
    max-width: 600px;
}

.input-container {
    width: 100%;
    text-align: right;
    position: relative;
}

.input-container.emoji {
    text-align: center;
    position: relative;
}

.emoji-input {
    display: inline-block;
    text-align: center;
    background-color: white;
    width: 75px;
    height: 60px;
    font-size: 24px;
    border: 0px;
    border-radius: 4px;
    margin: 10px 0px;
    padding: 15px 10px;
}

.emoji-mart {
    position: absolute;
    top: 75px; left: 50%;
    transform: translate(-50%, 0);
    text-align: left;
}