.SplitSummaryItem {
    padding: 0 26px;
}

.SplitSummaryItem button {
    display: flex;
    align-items: center;
    border: 0;
    background-color: transparent;
    width: 100%;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #DFE9FE;
    padding: 12px 0;
}

.SplitSummaryItem button span {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 56px;
    color: #28357D;
}