.BillEditor .split-summary {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    padding: 0px 18px;
}

.SplitSummary {
    list-style: none;
    padding: 12px 0px;
    background-color: #4f4f4f;
    width: 100%;
}

.SplitSummary .icon-down,
.SplitSummary .icon-up {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    filter: invert(91%) sepia(0%) saturate(7462%) hue-rotate(86deg) brightness(116%) contrast(111%);
}