.bill-totals {
    display: flex;
    margin: 18px;
    margin-bottom: 0px;
}

.bill-totals .col-1 {
    flex: 1;
}

.bill-totals .col-2 {
    flex: 1;
    text-align: right;
}

.bill-totals__edit {
    text-decoration: none;
}

.bill-totals h2 {
    margin: 0px;
    margin-bottom: 18px;
    padding: 0px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #696969;
}

.bill-totals .currency,
.bill-totals .amount {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #28357D;
}

.bill-totals__edit:hover .currency,
.bill-totals__edit:hover .amount {
    color: #4E67F9;
}

.bill-totals .currency {
    padding-left: 20px;
}

.bill-totals .amount {
    display: inline-block;
    width: 50px;
    text-align: right;
}