.bill-totals {
    display: flex;
    margin: 18px;
    margin-bottom: 0px;
}

.bill-totals .col-1 {
    flex: 1;
}

.bill-totals .col-2 {
    flex: 1;
    text-align: right;
}

.bill-totals__edit {
    text-decoration: none;
    color: black;
}

.bill-totals__edit:visited {
    color: black;
}

.bill-totals h2 {
    margin: 0px;
    margin-bottom: 18px;
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.0096em;
}

.bill-totals .currency {
    padding-left: 20px;
}

.bill-totals .amount {
    display: inline-block;
    width: 50px;
    text-align: right;
}