.SplitDetail {
    padding: 12px 0px;
    background-color: white;
    text-align: center;
}

.split-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 22px;
}

.split-name h2 {
    margin: 0px 15px;
    padding: 0px;
    font-size: 14px;
    font-weight: 500;
    color: #28357D;
    text-transform: uppercase;
}

.split-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.items-list,
.totals-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #28357D;
    font-weight: 300;
}

.totals-list {
    margin-top: 24px;
}

.items-list li,
.totals-list li {
    display: flex;
    position: relative;
    font-size: 18px;
}

.items-list li {
    background-color: #F5F5F5;
    padding: 24px;
    margin-bottom: 5px;
    justify-content: space-between;
}

.totals-list li {
    padding: 0 24px;
    justify-content: space-between;
    margin: 20px 0;
}

.items-list .currency,
.totals-list .currency  {
    position: absolute;
    top: 50%;
    right: 82px;
    transform: translate(0, -50%);
}

.items-list .item-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.totals-list .label {
    width: calc(100% - 92px);
    text-align: right;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #696969;
    line-height: 20px;
}

@media screen and (max-width: 370px) {
    .items-list .item-name {
        max-width: 110px;
    }
}