.SplitDetail {
    padding: 12px 0px;
    background-color: #4f4f4f;
    text-align: center;
}

.SplitDetail .Back {
    border: 0px;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 18px;
    left: 32px;
    background-color: transparent;
    transform: unset;
    filter: invert(91%) sepia(0%) saturate(7462%) hue-rotate(86deg) brightness(116%) contrast(111%);
}

.split-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 22px;
}

.split-name h2 {
    margin: 0px 15px;
    padding: 0px;
    color: white;
    font-weight: 500;
    font-size: 24px;
}

.split-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: #4f4f4f;
    width: 100%;
}

.items-list,
.totals-list {
    list-style: none;
    margin: 0px;
    padding: 0px 30px;
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.items-list {
    border-bottom: 1px solid white;
}

.totals-list {
    margin-top: 24px;
}

.items-list li,
.totals-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    position: relative;
}

.items-list .currency,
.totals-list .currency {
    position: absolute;
    top: 0;
    right: 50px;
}