.Button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
    padding: 15px 48px;
    background-color: #efefef;
    border: 0px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.Button:hover {
    background-color: #EBE5FC;
}

.Button.ghost {
    background-color: transparent;
    border: 2px solid #efefef;
}

.Button.ghost:hover {
    background-color: #EBE5FC;
    border: 2px solid #EBE5FC;
}

.ButtonLink {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
    padding: 15px 48px;
    background-color: #efefef;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #efefef;
}

.ButtonLink:hover {
    background-color: #EBE5FC;
    border: 2px solid #EBE5FC;
}

.ButtonLink:visited {
    color: black;
}

.ButtonLink.ghost {
    background-color: transparent;
    border: 2px solid #efefef;
}

.ButtonLink.ghost:hover {
    background-color: #EBE5FC;
    border: 2px solid #EBE5FC;
}