.ItemList {
    padding: 18px;
    padding-bottom: 0px;
    margin: 0px;
    list-style: none;
}

.Item {
    position: relative;
    display: flex;
    width: 100%;
    background-color: #f4f4f4;
    margin-bottom: 5px;
}

.Item:hover {
    background-color: #EBE5FC;
}

.Item .edit-item {
    text-decoration: none;
    color: black;
    flex: 3;
}

.item .edit-item:visited {
    color: black;
}

.Item h2 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.0096em;
    line-height: 60px;
    margin: 0px;
}

.Item .quantity {
    display: inline-block;
    text-align: center;
    width: 56px;
    font-weight: 500;
    margin-right: 15px;
    color: white;
    background-color: #4f4f4f;
}

.Item .edit-share {
    flex: 1;
    text-align: right;
    padding: 0px 12px;
    cursor: pointer;
    color: black;
    border: 0;
    background-color: transparent;
}

.Item .edit-share p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 60px;
    color: #757575;
    margin: 0px;
}