.ItemList {
    padding: 0px 18px;
    padding-top: 18px;
    margin: 0px;
    list-style: none;
}

.Item {
    position: relative;
    display: flex;
    width: 100%;
    background-color: #F5F5F5;
    margin-bottom: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 20%);
}

.Item:hover {
    background-color: rgb(231, 231, 231);
}

.Item .edit-item {
    text-decoration: none;
    color: #28357D;
    flex: 3;
    overflow: hidden;
}

.item .edit-item:visited {
    color: #28357D;
}

.Item h2 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 60px;
    margin: 0px;
    white-space: nowrap;
    display: flex;
}

.Item .quantity {
    display: inline-block;
    text-align: center;
    width: 50px;
    font-size: 24px;
    font-weight: 500;
    margin-right: 15px;
    color: white;
    background-color: #FA5C50;
}

.Item .edit-share {
    flex: 1;
    text-align: right;
    padding: 0px 12px;
    cursor: pointer;
    color: black;
    border: 0;
    background-color: transparent;
}

.Item .edit-share p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 60px;
    color: #696969;
    margin: 0px;
}

.Item .edit-share:hover p {
    color: #4E67F9;
}