.SplitItemForm {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FA5C50;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 20%);
    width: 100%;
    max-width: 340px;
    z-index: 6;
    padding: 0 20px;
}

.SplitItemForm .close {
    border: 0px;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    height: 34px;
    width: 34px;
    position: absolute;
    top: 18px;
    right: 18px;
    background-color: transparent;
    border-radius: 50%;
}

.SplitItemForm .close:hover {
    background-color: rgba(255, 255, 255, 20%);
}

.SplitItemForm .split-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-top: 60px;
    border-radius: 4px;
}

.SplitItemForm .add-item {
    font-family: 'Fira Sans Condensed', sans-serif !important;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #c84a40;
    border: 0px;
    margin: 5px 0px;
    padding-left: 55px;
    font-size: 16px;
    font-weight: 300;
    line-height: 60px;
    color: white;
    cursor: pointer;
    font-family: inherit;
    position: relative;
}

.SplitItemForm .add-item:hover {
    background-color: rgba(255, 255, 255, 20%);
}

.SplitItemForm .add-item span:before {
    content: '';
    position: absolute;
    top: 50%; left: 35px;
    transform: translate(0, -50%);
    width: 14px;
    height: 14px;
    background-image: url('../../img/icon-plus.svg');
}

.SplitItemForm .button-container {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}