.Logo {
    display: inline-block;
}

.Logo.large img {
    width: 80px;
    height: 80px; 
}

.Logo.medium img {
    width: 55px;
    height: 55px;
}

.Logo.small img {
    width: 28px;
    height: 28px;
}

.LockupHorizontal {
    display: flex;
    align-items: center;
}

.LockupHorizontal__wordmark {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin: 0px 10px;
    color: #28357D;
}

.LockupVertical {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.LockupVertical__wordmark {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 80px;
    margin: 12px 0px;
    letter-spacing: 0.0129em;
    color: #28357D;
}