.Logo {
    display: inline-block;
    border-radius: 50px;
    background-color: gray;
}

.Logo.large {
    width: 100px;
    height: 100px; 
}

.Logo.medium {
    width: 70px;
    height: 70px;
}

.Logo.small {
    width: 37px;
    height: 37px;
}

.LockupHorizontal {
    display: flex;
    align-items: center;
}

.LockupHorizontal__wordmark {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 0px 10px;
}

.LockupVertical {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.LockupVertical__wordmark {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 55px;
    margin: 12px 0px;
    letter-spacing: 0.0129em;
}