.Button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
    padding: 15px 48px;
    background-color: #efefef;
    border: 0px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.Button:hover {
    background-color: #EBE5FC;
}

.Button.ghost {
    background-color: transparent;
    border: 2px solid #efefef;
}

.Button.ghost:hover {
    background-color: #EBE5FC;
    border: 2px solid #EBE5FC;
}

.ButtonLink {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
    padding: 15px 48px;
    background-color: #efefef;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #efefef;
}

.ButtonLink:hover {
    background-color: #EBE5FC;
    border: 2px solid #EBE5FC;
}

.ButtonLink:visited {
    color: black;
}

.ButtonLink.ghost {
    background-color: transparent;
    border: 2px solid #efefef;
}

.ButtonLink.ghost:hover {
    background-color: #EBE5FC;
    border: 2px solid #EBE5FC;
}

.TextLink {
    font-family: inherit;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.0096em;
    padding: 0px 15px;
    text-decoration: none;
    color: black;
}
.TextLink:visited {
    color: black;
}

.TextLink:hover {
    color: #621FEE;
}

.Input.outline {
    border: 1px solid rgba(0,0,0,50%);
    border-radius: 4px;
    margin: 10px 0px;
    padding: 20px 15px;
    width: 100%;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
}