.Button {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    color: white;
    padding: 15px 48px;
    background-color: #28357D;
    border: 0px;
    text-decoration: none;
    cursor: pointer;
}

.Button:hover {
    background-color: #4E67F9;
}

.Button:disabled {
    cursor: not-allowed;
    color: #efefef;
}

.Button:disabled:hover {
    background-color: #28357D;
}

.Button.ghost {
    background-color: transparent;
}

.Button.ghost:hover {
    color: #EBE5FC !important;
}

.ButtonLink {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    color: white;
    padding: 15px 28px;
    background-color: #28357D;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.ButtonLink:hover {
    background-color: #4E67F9;
}

.ButtonLink:visited {
    color: white;
}

.ButtonLink.ghost {
    background-color: transparent;
    border: 2px solid #efefef;
}

.ButtonLink.ghost:hover {
    background-color: #EBE5FC;
    border: 2px solid #EBE5FC;
}

.Button.sign-out {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    padding: 0px;
    font-size: 14px;
    color: rgba(0, 0, 0, 60%);
    text-transform: uppercase;
    font-weight: 300;
}

.Button.Button.sign-out:hover {
    text-decoration: underline;
}

.TextLink {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.0096em;
    padding: 0px 15px;
    text-decoration: none;
    color: #28357D;
    cursor: pointer;
}

.TextLink:visited {
    color: #28357D;
}

.TextLink:hover {
    color: #4E67F9;
}

.Input.outline {
    border: 2px solid #e0e0e0;
    border-radius: 4px;
    margin: 10px 0px;
    padding: 20px 15px;
    width: 100%;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
}

.Input::placeholder {
    color: #4a4a4a;
}

.Header {
    position: fixed;
    width: 100%;
    background-color: white;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    z-index: 3;
}

.Back {
    border: 0px;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    height: 34px;
    width: 34px;
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translate(0, -50%);
    background-color: transparent;
    border-radius: 50%;
}

.Back:focus,
.Back:hover,
.Share:focus,
.Share:hover,
.close:hover {
    background-color: rgba(80, 106, 248, 20%);
}

.Share {
    border: 0px;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    height: 34px;
    width: 34px;
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translate(0, -50%);
    background-color: transparent;
    border-radius: 50%;
}

.BillOptions .Share {
    position: relative;
    top: unset;
    right: unset;
}

.Close {
    border: 0px;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translate(0, -50%);
    background-color: transparent;
}

.icon-more {
    width: 12px;
    height: 24px;
}

.icon-menu {
    height: 24px;
    width: 24px;
}

.icon-users {
    height: 24px;
    width: 24px;
}

.icon-edit {
    height: 24px;
    width: 24px;
}

.icon-chevron-left {
    height: 24px;
    width: 24px;
}

.icon-share {
    height: 20px;
    width: 20px;
}

.icon-trash {
    height: 20px;
    width: 20px;
}

.icon-add {
    width: 14px;
    height: 14px;
    margin: 5px;
}

.icon-down {
    height: 24px;
    width: 24px;
}

.icon-up {
    height: 24px;
    width: 24px;
}

.Emoji {
    width: 38px;
    height: 38px;
    border-radius: 4px;
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 20%);
}